
body {
  background: #ffffff;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-top: 200px;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

h1 {
  font-size: 32px;
font-family: "Dosis";
font-weight: 500;

}

h1 span {
  color: #ee24ff;
  font-weight: bold;
  font-family: "dosis";
  font-weight: 32px;
}

p {
  font-size: 15px;
  font-family: "Open Sans";
  line-height: 22px;

  text-align: center;

  color: #828282;

}

#preços {
  color: #3f3d56;
  font-weight: bold;
}

#pacotes {
  color: #3f3d56;
  font-weight: bold;
}

#footer {
  position: fixed;
  width: 1024px;
  height: 104px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  text-align: center;
  bottom: 160px;
}

#footer a {
  color: #3F3D56;
  text-align: center;
  font-size: 15px;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 147.682%;

  margin-right: 40px;
  text-decoration: none;
  font-size: 18px;
  box-sizing: border-box;
}

#footer a:hover {
background: rgba(180, 178, 178, 0.531);
transition-delay: 0.2s;

}

#wave {
  width: 100%;
  position: absolute;
  bottom: 196px;
}
