
body {
  background: #ffffff;
  font-family: "Climate Crisis", cursive;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-top: 200px;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

h1 span {
  color: #ee24ff;
  font-weight: bold;
}

p {
  font-family: "Open Sans", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;

  text-align: center;

  color: #828282;
}

#preços {
  color: #3f3d56;
  font-weight: bold;
}

#pacotes {
  color: #3f3d56;
  font-weight: bold;
}

#footer {
  position: fixed;
  width: 1024px;
  height: 104px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  text-align: center;
  bottom: 100px;
  margin-bottom: 0;
}

#footer a {
  font-family: "Open Sans", cursive;
  font-style: normal;
  margin-right: 66px;
  text-decoration: none;
  color: #3f3d56;
  font-size: 18px;
  box-sizing: border-box;
}

#wave {
  width: 100%;
  position: absolute;
  bottom: 196px;
}
